<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Models</title>
</head>

<body class="bg-light">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body"> 
                        <h4 class="text-center display-4">SRIC</h4>
                        <div class="text-center">
                            <b>User ID: </b> {{data[4]}}
                        </div>
                        <hr>
                        <h3 class="text-primary mt-4">Choose Model</h3>
                        <hr>
                        <b>Shape of the processed images: </b>{{data[0]}} x {{data[1]}}<br>
                        <b>Learning Rate: </b>{{data[2]}}<br>
                        <b>Batch Size: </b>{{data[3]}}<br>
                        <br>
                        <form action="{{url_for('model')}}" enctype="multipart/form-data" method="post">
                            <!-- hide models based on img_w, img_h -->
                            <div class="form-group">
                                <label for="tl_models">Using which model you want to train?</label>
                                <select class="custom-select" id="tl_models" name="tl_models" aria-label="Example select with button addon">
                                    <!-- <option>Choose</option> -->
                                    <option value="Basic">Basic Model</option>
                                    <option value="VGG16">VGG16</option>
                                    <option value="VGG19">VGG19</option>
                                    <option value="MobileNet">MobileNet</option>
                                    <option value="Inception">Inception V3</option>
                                    <option value="ResNet50">ResNet50</option>
                                    <option value="Own">Create own model</option>
                                </select>
                            </div>


                            <!-- For Options 1-5 -->
                            <div class="form-group" id="dlayer" style="display: none;">
                                <label for="dense">Number of Neurons in Dense Layer</label>
                                <input type="text" class="form-control" name="dense" placeholder="Default: 256">
                            </div>
                            <div class="form-group" id="drate" style="display: none;">
                                <label for="dropout">Dropout Rate(%)</label>
                                <input type="text" class="form-control" name="dropout" placeholder="Default: 30">
                            </div>
                            <div class="form-group" id="tbmodel" style="display: none;">
                                <label for="train_base_model">Do you want to extract fetures?</label>
                                <select class="custom-select" name="train_base_model" aria-label="Example select with button addon">
                                    <!-- <option selected>Choose...</option> -->
                                    <option value="n">No</option>
                                    <option value="y">Yes</option>
                                </select>
                            </div>


                            <!-- For Option 7 -->
                            <div class="form-group" id="nlayer" style="display: none;">
                                <label for="layer">Number of Layers</label>
                                <input type="text" class="form-control" name="layer" placeholder="Default: 5">
                            </div>
                            <div class="form-group" id="clayer" style="display: none;">
                                <label for="conv_layer">Number of Convolution Layers</label>
                                <input type="text" class="form-control" name="conv_layer" placeholder="Default: 1">
                            </div>
                            <div class="form-group" id="numfilter" style="display: none;">
                                <label for="conv">Number of Filters in 1st Convolution Layer</label>
                                <input type="text" class="form-control" name="conv" placeholder="Default: 16">
                            </div>
                            <div class="form-group" id="sizefilter" style="display: none;">
                                <label for="conv_size">Size of Filters</label>
                                <input type="text" class="form-control" name="conv_size" placeholder="Default: 3">
                            </div>
                            

                            <div class="form-group">
                                <label for="Optimizer">Choose Optimizer</label>
                                <select class="custom-select" name="optimizer" aria-label="Example select with button addon">
                                    <!-- <option selected>Choose...</option> -->
                                    <option value="Adam">Adam</option>
                                    <option value="SGD">Stochastic Gradient Descent</option>
                                    <option value="RMSprop">RMSprop</option>
                                    <option value="Adagrad">Adagrad</option>
                                    <option value="Adadelta">Adadelta</option>
                                    <option value="Adamax">Adamax</option>
                                    <option value="Nadam">Nadam</option>
                                </select>
                            </div>
                            <div class="form-group" id="submitBtn">
                                <input type="submit" id="submitBtn" name="submit" class="btn btn-danger btn-block rounded-pill">
                            </div>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <p id="msg" class="text-center"></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#tl_models").on('change', function(){
                if (this.value == "Basic") {
                    $("#dlayer").hide();
                    $("#drate").hide();
                    $("#tbmodel").hide();
                    $("#nlayer").hide();
                    $("#clayer").hide();
                    $("#numfilter").hide();
                    $("#sizefilter").hide();
                }
                if (this.value == "VGG16" || this.value == "VGG19" || this.value == "MobileNet"  || this.value == "Inception" || this.value == "ResNet50" ) {
                    $("#dlayer").show();
                    $("#drate").show();
                    $("#tbmodel").show();
                    $("#nlayer").hide();
                    $("#clayer").hide();
                    $("#numfilter").hide();
                    $("#sizefilter").hide();
                }
                else if (this.value == "Own") {
                    $("#dlayer").show();
                    $("#drate").show();
                    $("#tbmodel").hide();
                    $("#nlayer").show();
                    $("#clayer").show();
                    $("#numfilter").show();
                    $("#sizefilter").show();
                }
            });
        });

        $(document).ready(function(){
            $("#submitBtn").click(function() {
                $("#submitBtn").hide();
                document.getElementById("msg").innerHTML = 'Training the model. Please wait. This will take time....'

            });
        });

    </script>

</body>

</html>